/* src/style.css */
:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* 防止窗口出现双滚动条 */
}

#app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}